@font-face {
    font-family: "Segoe UI";
    src: url("fonts/segoe-ui.ttf");
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("fonts/segoe-ui-bold.ttf");
}

.round-corners {
    -fx-background-color: #1B1F30;
    -fx-background-radius: 7;
    -fx-border-color: #3C3D45;
    -fx-border-width: 1;
    -fx-border-radius: 7;
    -fx-padding: -2 -2 0 0;
}

#title-bar {
    -fx-padding: 7 5 7 5;
    -fx-text-fill: white;
}

#back-button {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 12;
    -fx-alignment: baseline-left;
}
#back-button:hover {
    -fx-background-color: #282D3A;
}

#title {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
    -fx-padding: 13 6 13 6;
}

.window-controls-pane {
    -fx-background-radius: 0 7 0 0;
    -fx-border-color: transparent;
}

.window-controls-button {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-padding: 8 16 8 16;
}

.window-controls-button:hover {
    -fx-background-color: #2D2D2D;
}

.window-controls-button:pressed {
     -fx-background-color: #292929;
}

#close-button {
    -fx-background-radius: 0 7 0 0;
}

#close-button:hover {
    -fx-background-color: #C42B1C;
}

#close-button:pressed {
    -fx-background-color: #B3271C;
}

#sidebar {
    -fx-padding: 20;
}

.sidebar-button {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13;
    -fx-alignment: baseline-left;
    -fx-background-color: transparent;
    -fx-background-radius: 6;
    -fx-text-fill: white;
    -fx-padding: 4 6 4 6;
}

.sidebar-button-selected {
    -fx-background-color: #282D3A;
}

.sidebar-button:hover {
    -fx-background-color: #242937;
}

.sidebar-button:pressed {
    -fx-background-color: #282D3A;
}

.main-pane-title {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 28;
    -fx-text-fill: white;
    -fx-padding: 28 10 16 10;
}

#user-content-pane {
    -fx-padding: 0 28 0 0;
}

#user-edit-pane {
    -fx-background-color: #1B1F30;
    -fx-padding: 40;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 8 0 0 0;
}

.labels-box {
    -fx-background-color: transparent;
}

.id-label, .name-label {
    -fx-background-color: transparent;
}

.add-button {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13;
    -fx-alignment: baseline-left;
    -fx-background-color: #4CC2FF;
    -fx-background-radius: 5;
    -fx-text-fill: black;
    -fx-padding: 7 15 7 15;
    -fx-margin-bottom: 30;
}

.add-button:hover {
    -fx-background-color: #49B3EB;
}

.add-button:pressed {
    -fx-background-color: #41A1D5;
    -fx-text-fill: #22526C;
}

.file-button {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-padding: 10 30 10 10;
}

.file-button:hover {
    -fx-background-color: #242937;
    -fx-padding: 10 30 10 10;
}

.file-button:pressed {
    -fx-background-color: #242937;
    -fx-padding: 10 30 10 10;
}

.file-pane {
    -fx-padding: 20 20 20 20;
}

.file-pane-icon {
}

.file-pane-label {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-padding: 0 0 4 10;
}

.file-pane-info-label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12;
    -fx-text-fill: #A3A6AC;
    -fx-padding: 0 0 0 10;
}

#user-pane {
    -fx-padding: 0;
}

.table-view {
    -fx-background-color: transparent; // Removes extra border around table
}

.table-view:focused {
    -fx-background-color: transparent; // Removes blue border around table when focused
}

.table-view .column-header,
.table-view .column-header-background {
    visibility: hidden; // Makes header row transparent
    -fx-font-size: 6; // Changes spacing between Add button and rows
}

.table-view .table-row-cell:empty {
    -fx-background-color: transparent; // Hides empty rows
}

.table-view .table-cell {
    -fx-border-width: 0; // Removes separators between cells
}

.table-row-cell {
    -fx-padding: 10;
}

.table-row:filled {
    -fx-background-color: #262B3B;
    -fx-background-radius: 8;
    -fx-border-color: #181D29;
    -fx-border-size: 1;
}

.table-row:filled:hover {
    -fx-background-color: #2D3242;
}

.table-row:filled:pressed {
    -fx-background-color: #212737;
}

/*
.table-row {
    -fx-background-color: #1B1F30; // Removes color from empty rows
}

.table-row:filled {
    -fx-background-color: #262B3B;
    -fx-background-radius: 8;
    -fx-padding: 10 5 10 5;
    -fx-border-size: 1;
    -fx-border-color: #181D29;
}

.table-row:filled:hover {
    -fx-background-color: #2D3242;
}

.table-row:filled:pressed {
    -fx-background-color: #212737;
}

.table-row .label, .table-row .text-field {
    -fx-background-color: #1B1F30;
    -fx-text-fill: white;
}

#user-content-pane {
    -fx-margin: 10px;
}
*/
/*
.table-view {
    -fx-background-color: #1B1F30;
    -fx-text-fill: white;
}

.table-view .column-header-background {
    -fx-background-color: #1B1F30;
    -fx-text-fill: white;
}

.table-row:filled .text {
    -fx-text-fill: white !important;
}*/
/*
.table-view .column-header {
    -fx-background-color: #1B1F30;
    -fx-text-fill: #1B1F30;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-border-width: 0;
}*/