@font-face {
    font-family: "UI Font";
    src: url("fonts/sui.ttf");
}

@font-face {
    font-family: "UI Font Bold";
    src: url("fonts/sui-bold.ttf");
}

.rounded-corner-pane {
    -fx-background-color: #1B1F30;
    -fx-background-radius: 7;
    -fx-border-color: #3C3D45;
    -fx-border-width: 1;
    -fx-border-radius: 7;
    -fx-padding: -2 -2 0 0;
}

.title-bar {
    -fx-background-radius: 0 7 0 0;
    -fx-border-color: transparent;
}

.window-button {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-padding: 8 16 8 16;
}

.window-button:hover {
    -fx-background-color: #2D2D2D;
}

.window-button:pressed {
     -fx-background-color: #292929;
}

#close-button {
    -fx-background-radius: 0 7 0 0;
}

#close-button:hover {
    -fx-background-color: #C42B1C;
}

#close-button:pressed {
    -fx-background-color: #B3271C;
}

.left-sidebar {
    -fx-padding: 20;
}

.sidebar-button {
    -fx-background-radius: 6;
    -fx-background-color: #282D3A;
    -fx-text-fill: white;
    -fx-padding: 4 6 4 6;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13;
    -fx-alignment: baseline-left;
}
.sidebar-button:hover {
    -fx-background-color: #242937;
}

.sidebar-button:pressed {
    -fx-background-color: #282D3A;
}